@import "../../../resources/scss/variables";

.Modal {
  $modalPadding: 16px;

  max-width: 432px;
  width: 100%;
  padding: $modalPadding;
  border-radius: 16px;
  box-shadow: 0 16px 10px 0 rgba(0, 0, 0, 0.16);
  background-color: white;
  z-index: 99;

  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  %modal-section-border {
    position: absolute;
    content: '';
    left: -$modalPadding;
    right: -$modalPadding;
    bottom: -1px;
    height: 2px;
    background-color: #c0c3d2;
  }

  &_header {
    position: relative;

    & > h5 {
      margin: 0;
      font-weight: normal;
      font-size: 16px;
      padding-bottom: 13px;
    }

    &::after {
      @extend %modal-section-border;
    }
  }

  &_body {
    padding: 20px 8px;
    position: relative;

    &::after {
      @extend %modal-section-border;
    }
  }

  &_footer {
    padding-top: 16px;
    display: flex;
    justify-content: flex-end;

    & > button:not(:last-child) {
      margin-right: 5px;
    }
  }
}

.CancelButton {
  background-color: transparent;
  color: $button-background-color;
}
